ion-card {
  margin: auto;
  margin-top: 2rem;
  max-width: 40rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  border: 1px solid var(--ion-color-primary);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}

.login-input .native-input {
  --padding-start: 1rem;
}

.login-button {
  max-width: 10rem;
}

.buttons {
  display: flex;
  flex-direction: row;
}